<!DOCTYPE HTML>
<html>

<head>
    <title>mobiltnt.com</title>
    
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta name="keywords" content="Template, html, premium, themeforest" />
    <meta name="description" content="Traveler - Premium template for travel companies">
    <meta name="author" content="Tsoy">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- GOOGLE FONTS -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600' rel='stylesheet' type='text/css'>
    <!-- /GOOGLE FONTS -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/icomoon.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/mystyles.css">
    <script src="js/modernizr.js"></script>


</head>

<body>
    <div class="global-wrap">
        <header id="main-header">
            <div class="header-top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <a class="logo" href="index.html">
                                <img src="img/logo-invert.png" alt="Image Alternative text" title="Image Title" />
                            </a>
                        </div>
                        <div class="col-md-4 pull-right">
                            <div class="top-user-area clearfix">
                                <ul class="top-user-area-list list list-horizontal list-border">
                                    <li class="top-user-area-lang nav-drop">
                                        <a href="#">
                                        	<img src="img/flags/id.png" alt="Bahasa Indonesia" title="Bahasa Indonesia" />
                                            Bahasa Indonesia<i class="fa fa-angle-down"></i><i class="fa fa-angle-up"></i>
										</a>
                                        <ul class="list nav-drop-menu">
                                            <li>
                                                <a title="English" href="#">
                                            		<img src="img/flags/uk.png" alt="English" title="English" /><span class="right">English</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="nav-drop"><a href="#">Hi, John<i class="fa fa-angle-down"></i><i class="fa fa-angle-up"></i></a>
                                        <ul class="list nav-drop-menu">
                                            <li><a href="#">Akun Saya</a></li>
                                            <li><a href="#">Sign Out</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="bg-holder">
            <div class="bg-mask-darken"></div>
            <div class="bg-parallax"></div>
            
            <!-- START GRIDROTATOR -->
            <div class="ri-grid" id="ri-grid">
                <ul>
                    <li><a href="#"><img src="img/grid/1.jpg" alt="mobiltnt.com Grid 1" title="mobiltnt.com Grid 1" /></a></li>
                    <li><a href="#"><img src="img/grid/2.jpg" alt="mobiltnt.com Grid 2" title="mobiltnt.com Grid 2" /></a></li>
                    <li><a href="#"><img src="img/grid/3.jpg" alt="mobiltnt.com Grid 3" title="mobiltnt.com Grid 3" /></a></li>
                    <li><a href="#"><img src="img/grid/4.jpg" alt="mobiltnt.com Grid 4" title="mobiltnt.com Grid 4" /></a></li>
                    <li><a href="#"><img src="img/grid/5.jpg" alt="mobiltnt.com Grid 5" title="mobiltnt.com Grid 5" /></a></li>
                    <li><a href="#"><img src="img/grid/6.jpg" alt="mobiltnt.com Grid 6" title="mobiltnt.com Grid 6" /></a></li>
                    <li><a href="#"><img src="img/grid/7.jpg" alt="mobiltnt.com Grid 7" title="mobiltnt.com Grid 7" /></a></li>
                    <li><a href="#"><img src="img/grid/8.jpg" alt="mobiltnt.com Grid 8" title="mobiltnt.com Grid 8" /></a></li>
                    <li><a href="#"><img src="img/grid/9.jpg" alt="mobiltnt.com Grid 9" title="mobiltnt.com Grid 9" /></a></li>
                    <li><a href="#"><img src="img/grid/10.jpg" alt="mobiltnt.com Grid 10" title="mobiltnt.com Grid 10" /></a></li>
                    <li><a href="#"><img src="img/grid/11.jpg" alt="mobiltnt.com Grid 11" title="mobiltnt.com Grid 11" /></a></li>
                    <li><a href="#"><img src="img/grid/12.jpg" alt="mobiltnt.com Grid 12" title="mobiltnt.com Grid 12" /></a></li>
                    <li><a href="#"><img src="img/grid/13.jpg" alt="mobiltnt.com Grid 13" title="mobiltnt.com Grid 13" /></a></li>
                    <li><a href="#"><img src="img/grid/14.jpg" alt="mobiltnt.com Grid 14" title="mobiltnt.com Grid 14" /></a></li>
                    <li><a href="#"><img src="img/grid/15.jpg" alt="mobiltnt.com Grid 15" title="mobiltnt.com Grid 15" /></a></li>
                    <li><a href="#"><img src="img/grid/16.jpg" alt="mobiltnt.com Grid 16" title="mobiltnt.com Grid 16" /></a></li>
                </ul>
            </div>
            <!-- END GRIDROTATOR -->
            
            <div class="bg-front full-center">
                <div class="container">
                    <div class="search-tabs search-tabs-bg">
                        <h1 class="hidden-xs">Sewa Mobil – Cari, Pilih dan Gunakan</h1>
                        <div class="tabbable">
                            <div class="tab-content">
                                <div class="tab-pane fade in active">
                                    <h2 class="hidden-xs">Cari Penyewaan Mobil Murah</h2>
                                    <form>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-8">
                                                        <div class="form-group form-group-lg form-group-icon-left"><i class="fa fa-map-marker input-icon"></i>
                                                            <label>Lokasi</label>
                                                            <input class="typeahead form-control" placeholder="Masukan Nama Kota" type="text" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group form-group-lg">
                                                            <label>Kriteria</label>
                                                            <select class="form-control">
                                                                <option>Lepas Kunci</option>
                                                            	<option>Dengan Supir</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="input-daterange" data-date-format="M d, D">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group form-group-lg form-group-icon-left"><i class="fa fa-calendar input-icon input-icon-highlight"></i>
                                                                <label>Tanggal Pinjam</label>
                                                                <input class="form-control" name="start" type="text" />
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group form-group-lg form-group-icon-left"><i class="fa fa-calendar input-icon input-icon-highlight"></i>
                                                                <label>Tanggal Kembali</label>
                                                                <input class="form-control" name="end" type="text" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button class="btn btn-danger btn-lg" type="submit">Cari Mobil</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container">
            <div class="gap"></div>
            <div class="row row-wrap">
            	<h3 class="text-center">Cara Kerja mobiltnt.com</h3>
                <div class="gap"></div>
                <div class="col-md-3 col-sm-6">
                    <div class="thumb">
                        <header class="thumb-header">
                            <i class="fa fa-search box-icon-huge box-icon-center box-icon-danger box-icon-to-gray animate-icon-top-to-bottom round"></i>
                        </header>
                        <div class="thumb-caption">
                            <h4 class="thumb-title">Cari Penyewaan</h4>
                            <p class="thumb-desc">Masukan tanggal dan lokasi penyewaan.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="thumb">
                        <header class="thumb-header">
                            <i class="fa fa-car box-icon-huge box-icon-center box-icon-danger box-icon-to-gray animate-icon-top-to-bottom round"></i>
                        </header>
                        <div class="thumb-caption">
                            <h4 class="thumb-title">Pilih Mobil</h4>
                            <p class="thumb-desc">Pilih mobil sesuai dengan kebutuhan dan keperluan</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="thumb">
                        <header class="thumb-header">
                            <i class="fa fa-money box-icon-huge box-icon-center box-icon-danger box-icon-to-gray animate-icon-top-to-bottom round"></i>
                        </header>
                        <div class="thumb-caption">
                            <h4 class="thumb-title">Pembayaran</h4>
                            <p class="thumb-desc">Lakukan pembayaran melalui sistem pembayaran online.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="thumb">
                        <header class="thumb-header">
                            <i class="fa fa-map-marker box-icon-huge box-icon-center box-icon-danger box-icon-to-gray animate-icon-top-to-bottom round"></i>
                        </header>
                        <div class="thumb-caption">
                            <h4 class="thumb-title">Mobil Diantar</h4>
                            <p class="thumb-desc">Mobil akan diantar ke lokasi dimana Anda berada.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gap gap-small"></div>
        </div>
        
        <div class="bg-newsletter text-center">
            <div class="container">
                <div class="gap"></div>
                <h3>Daftarkan email Anda untuk info promo, GRATIS!</h3>
                <div class="gap gap-small"></div>
                <form>
                    <div class="row">
                    	<div class="col-md-6 col-sm-9 col-centered">
                            <div class="col-md-9 col-sm-9">
                                <div class="form-group form-group-lg form-group-icon-left">
                                    <i class="fa fa-envelope-o input-icon"></i>
                                    <input class="form-control" placeholder="Masukan email Anda disini" type="text" />
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 no-padding">
                                <button class="btn btn-danger btn-lg btn-block" type="submit">Daftar</button>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="gap gap-small"></div>
            </div>
        </div>

        <footer id="main-footer">
            <div class="container">
                <div class="row row-wrap">
                    <div class="col-md-3 col-sm-3">
                        <a class="logo" href="index.html">
                            <img src="img/logo-invert.png" alt="Image Alternative text" title="Image Title" />
                        </a>
                        <p class="mb20">Anda dapat menjadi sebagai penyewa dah juga yang menyewakan!</p>
                        <ul class="list list-horizontal list-space">
                            <li><a class="fa fa-facebook box-icon-danger round animate-icon-bottom-to-top" href="#"></a></li>
                            <li><a class="fa fa-twitter box-icon-danger round animate-icon-bottom-to-top" href="#"></a></li>
                            <li><a class="fa fa-google-plus box-icon-danger round animate-icon-bottom-to-top" href="#"></a></li>
                            <li><a class="fa fa-linkedin box-icon-danger round animate-icon-bottom-to-top" href="#"></a></li>
                            <li><a class="fa fa-pinterest box-icon-danger round animate-icon-bottom-to-top" href="#"></a></li>
                        </ul>
                    </div>

                    <div class="col-md-3 col-sm-3">
                        <h4>Aplikasi Mobile</h4>
                        <p><a href="#"><img src="img/play-store.png" alt="Aplikasi Android mobiltnt.com" title="Aplikasi Android mobiltnt.com"></a></p>
                        <p><a href="#"><img src="img/app-store.png" alt="Aplikasi IOS mobiltnt.com" title="Aplikasi IOS mobiltnt.com"></a></p>
                    </div>
                    <div class="col-md-2 col-sm-3">
                    	<h4>Informasi</h4>
                        <ul class="list list-footer">
                            <li><a href="#">Tentang Kami</a></li>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Hubungi Kami</a></li>
                            <li><a href="#">Syarat &amp; Ketentuan</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-sm-3">
                        <h4>Anda Memiliki Pertanyaan?</h4>
                        <h4 class="text-color">+62 878 779 889 44</h4>
                        <h4><a href="#" class="text-color">support@mobiltnt.com</a></h4>
                        <p>Kami siap mambantu Anda</p>
                    </div>

                </div>
            </div>
        </footer>
        
        <script src="js/jquery.js"></script>
        <script src="js/bootstrap.js"></script>
        <script src="js/bootstrap-datepicker.js"></script>
        <script src="js/bootstrap-timepicker.js"></script>
        <script src="js/nicescroll.js"></script>
        <script src="js/dropit.js"></script>
        <script src="js/ionrangeslider.js"></script>
        <script src="js/icheck.js"></script>
        <script src="js/typeahead.js"></script>
        <script src="js/owl-carousel.js"></script>
        <script src="js/gridrotator.js"></script>
        <script src="js/custom.js"></script>
    </div>
</body>

</html>


