/*YOUR CUSTOM STYLES*/

/*a {
	color: #ffd912;
}

a:hover {
	color: #f7cf00;
}
*/
.no-padding {
	padding: 0px;
}

.col-centered {
	float: none;
	margin: 0 auto;
}

.bg-holder {
	overflow: visible;
}

.nav-drop > .nav-drop-menu {
	min-width: 100px;
    width: auto;
}

.top-user-area .top-user-area-list > li > a:hover {
	color: #f6c919;
}

header#main-header {
	border-bottom: 2px solid #ffd912;
}

.thumb {
	text-align: center;
}

.thumb-title, 
.thumb-desc {
	color: #000;
}

.nav-drop > .nav-drop-menu > li > a:hover {
  	background: #f6c919;
	color: #000;
}

.form-control:active,
.form-control:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
	border: 1px solid #ffd912;
}

footer#main-footer .form-control:focus {
  	border-color: #ffd912;
}

footer#main-footer img {
	width: auto;
}

.text-color {
	color: #f6c919 !important;
}

.bg-newsletter {
	background: rgba(0, 0, 0, 0) url("../img/newsletter-background.png") repeat-x scroll 0 0;
}

.bg-newsletter .input-icon {
	top: 0px;
	color: #ffd912;
}

.booking-title {
	font-size: 30.758px;
}

.booking-item-dates-change {
	border-color: #ffd912;
}

.form-group.form-group-focus .input-icon.input-icon-hightlight {
	color: #ffd912;
}

.irs-diapason {
	background: #f6c919 none repeat scroll 0 0;
}

.irs-slider {
    background: #c5a114 none repeat scroll 0 0;
}

.i-check.checked, 
.i-radio.checked {
	  background: #f6c919 none repeat scroll 0 0;
	  border: 1px solid #f6c919;
}

.i-check.hover,
.i-radio.hover {
  	border: 1px solid #f6c919;
}

.booking-filters {
	width: auto;
}

.booking-item:hover,
.booking-item.active {
  border: 1px solid #ffd912;
}
	
.booking-item-price {
	font-size: 24px;
}

.pagination > li > a {
	color: #ffd912;
}

.pagination > li.active > a, .pagination > li.active > a:hover {
	background: #ffd912 none repeat scroll 0 0;
}

.booking-item-features > li:hover > i {
  	border-color: #ffd912;
  	cursor: pointer;
}

.table-feature img {
	width: auto;
}

.table-feature .center-col {
	text-align: center;
}

.table-feature .i-check {
	float: none;
	margin: 0 auto;
	left: 0;
}


.register-step2 {
	display: none;
}

.page-title {
	font-size: 30px;
}

.user-profile-sidebar .user-profile-nav > li > a:hover > i {
  	color: #ffd912;
}

.panel {
	border-radius: 0;
}

.panel-default > .panel-heading {
	background-color: #f5f5f5;
    border-color: #dddddd;
    color: #333333;
	padding: 10px 15px;
}

.table {
	margin-bottom: 0;
}

.borderless td, .borderless th {
    border: none !important;
}

span.sub-item {
	padding-left: 20px;
}

.login-dialog {
	background: #fff none repeat scroll 0 0;
	margin: 40px auto;
	max-width: 400px;
	padding: 20px 30px;
	position: relative;
	text-align: left;
	width: auto;
}

.forgot-form {
	display: none;
}

.auto_complete_working{
    background:url('http://www.mobiltnt.com/assets/img/loading-autocomplete.gif') no-repeat right center !important;
    background-size: 25px 25px !important;
}

.box-icon-tnt {
  	background: #ffd912 none repeat scroll 0 0;
	color: #4d4d4d !important;
}

.box-icon-tnt:hover {
	color: #ffd912 !important;
}

.btn-tnt {
	color: #4d4d4d;
	background-color: #ffd912;
	border-color: #ffd600;
}

.btn-tnt:hover,
.btn-tnt:focus,
.btn-tnt:active,
.btn-tnt.active,
.open .dropdown-toggle.btn-tnt {
	color: #4d4d4d;
	background-color: #f7cf00;
	border-color: #fad200;
}

.btn-tnt:active,
.btn-tnt.active,
.open .dropdown-toggle.btn-tnt {
  	background-image: none;
}

.btn-tnt.disabled,
.btn-tnt[disabled],
fieldset[disabled] .btn-tnt,
.btn-tnt.disabled:hover,
.btn-tnt[disabled]:hover,
fieldset[disabled] .btn-tnt:hover,
.btn-tnt.disabled:focus,
.btn-tnt[disabled]:focus,
fieldset[disabled] .btn-tnt:focus,
.btn-tnt.disabled:active,
.btn-tnt[disabled]:active,
fieldset[disabled] .btn-tnt:active,
.btn-tnt.disabled.active,
.btn-tnt[disabled].active,
fieldset[disabled] .btn-tnt.active {
	background-color: #ffd912;
	border-color: #ffd600;
}

.btn-tnt .badge {
  	color: #4d4d4d;
  	background-color: #ffffff;
}

.form-control[readonly] {
	cursor: pointer;
}

.post .post-title {
  	font-size: 24px;
}

.post .post-inner {
  	padding: 0 0 45px;
}

.post .post-desciption {
  	margin-bottom: 10px;
}

.post .post-header {
  	border-bottom: 2px solid #ffd912;
}

@media (max-width:1024px) {
	.lh1em {
		font-size: 36px;
	}
	
	.booking-item-details .booking-item-header-price {
		font-size: 14px;
	}
	
	.booking-item-details .booking-item-header-price .text-lg {
		font-size: 24px;
	}	
}

@media (max-width:992px) {
	.lh1em {
		font-size: 36px;
	}
	
	.booking-item-details .booking-item-header-price {
		font-size: 14px;
		text-align: left;
	}
	
	.booking-item-details .booking-item-header-price .text-lg {
		font-size: 24px;
	}
}

@media (max-width:768px) {
	.no-padding {
		padding-left: 15px;
		padding-right: 15px;
	}
}


@media (max-width:480px) {
}

@media (max-width:320px) {
	.order-payment-list .col-xs-8, .order-payment-list .col-xs-4 {
		width: 100%;
	}
}